# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Environment
.env
.env.*

# Rider
.idea/

# VSCode
.vscode/

# Logs
*.log

# NuGet
*.nupkg
packages/
project.lock.json

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Data
data/